@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 22% 6%;
    --foreground: 216 100% 96%;
    --card: 210 22% 9%;
    --card-foreground: 216 100% 96%;
    --popover: 210 22% 6%;
    --popover-foreground: 216 100% 96%;
    --primary: 158 100% 47%;
    --primary-foreground: 210 22% 6%;
    --secondary: 210 22% 12%;
    --secondary-foreground: 216 100% 96%;
    --muted: 210 22% 12%;
    --muted-foreground: 210 20% 60%;
    --accent: 206 100% 57%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 22% 15%;
    --input: 210 22% 15%;
    --ring: 158 100% 47%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 210 22% 6%;
    --foreground: 216 100% 96%;
    --card: 210 22% 9%;
    --card-foreground: 216 100% 96%;
    --popover: 210 22% 6%;
    --popover-foreground: 216 100% 96%;
    --primary: 158 100% 47%;
    --primary-foreground: 210 22% 6%;
    --secondary: 210 22% 12%;
    --secondary-foreground: 216 100% 96%;
    --muted: 210 22% 12%;
    --muted-foreground: 210 20% 60%;
    --accent: 206 100% 57%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 22% 15%;
    --input: 210 22% 15%;
    --ring: 158 100% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
